<!-- reporte.component.html -->
<div class="container-fluid mt-5 ml-3 mr-3">
    <div class="row">
      <div class="col">
        <div class="card m-3 position-relative"> <!-- Añadido position-relative para posicionar botones -->
          <div class="card-header d-flex justify-content-between align-items-center"> <!-- Uso de d-flex para alinear elementos -->
            <span>Detalles del Reporte</span>

          </div>
          <div class="card-body text-center">
            <p class="card-text"><strong>ID:</strong> {{ reporte?.id }}</p>
            <p class="card-text"><strong>Motivos del reporte:</strong> {{ reporte?.reason }}</p>
            <p class="card-text"><strong>Comentarios:</strong> {{ reporte?.comments ?? 'POR DEFINIR'}}</p>
            <p class="card-text"><strong>Fecha de creación:</strong> {{ reporte?.createdAt | date:'dd-MM-yyyy' }}</p>
            <p class="card-text"><strong>ID de Usuario reportante:</strong> {{ reporte?.reportedUserId }}</p>
            <p class="card-text"><strong>ID de administrador:</strong> {{ reporte?.managedById  ?? 'POR DEFINIR'}}</p>
            <p class="card-text"><strong>Resultado:</strong> {{ reporte?.result ?? 'POR DEFINIR' }}</p>
            <p class="card-text"><strong>Estado:</strong> {{ reporte?.status }}</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card m-3 position-relative"> <!-- Añadido position-relative para posicionar botones -->
          <div class="card-header d-flex justify-content-between align-items-center"> <!-- Uso de d-flex para alinear elementos -->
            <span> Detalles del Usuario Reportado</span>
          </div>
          <div class="card-body text-center">
            <p class="card-text"><strong>Nombre de Usuario:</strong> {{ profesional?.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ profesional?.email }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="m-3">
          <button class="btn btn-danger m-3" (click)="asignar()" *ngIf="!reporte.managedById">Asignar</button>
          <button class="btn btn-success m-3" (click)="resolver()" *ngIf="reporte.status == 'IN_PROGRESS'">Resolver</button>
          <button class="btn btn-primary m-3" (click)="goBack()">Volver</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card m-3 position-relative" *ngIf="reporte.status == 'IN_PROGRESS' && reporte.managedById">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>Resolución</span>
          </div>
          <div class="card-body text-center">
            <div class="form-group">
              <input type="text" id="commentsInput" class="form-control" [(ngModel)]="reporte.comments">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  